
/*Стили внешних контейнеров*/

*{
    margin:0px;
	padding:0px;
	
}

#body{
    background-color: #9932cc;
	margin-left: auto;
    margin-right: auto;
	padding-top:2%;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	font-family:Arial, Helvetica sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:normal;
	text-decoration:none;
	text-transform:none;
	height: 100%;
	
}
#wrapper {
	display: table;
    height: 100%;
}


#container{
   width:1024px;
   height:3000 px;
   margin-top:0px;
   margin-right:auto;
   margin-left:auto;
   margin-bottom:auto;
   padding-bottom: 230px;
   
}


/*Верхушка сайта*/

#head{
	background-image:url(header.jpg);
	background-repeat:no-repeat;
	height:300px;
	width:1024px;
}

#header{
    margin: auto;
    font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 0px;
	text-align: center;
    color: #fcfcee;
	background-color:#9932cc;
}

/*Навигация*/
#nav{
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.8em;
	font-style:normal;
	color:#9932cc;
	background-position:40px;
	font-weight:bold;
	margin-top: 16px;
	margin-bottom: 16px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 200px;
    overflow: hidden;
}

#nav li {
    float: left;
    border-right:1px solid #fcfcee;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
	background-color:#9932cc;
    display: block;
    color:#fcfcee;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
	margin: auto;
}

#nav li b{
    display: block;
    color:#9932cc;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
	margin: auto;
}


#nav li a:hover:not(:active) {
    background-color:#5c1f7a;
}

#nav li a:active {
	color:#5c1f7a; 
}


/*Элемент навигации с внутренними ссылками*/

#nav li a .dropdown {
position: relative;
display: inline-block;
}

#nav li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5c1f7a;
    min-width: 160px;
    
    z-index: 1;
}

#nav li a.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#nav li a.dropdown-content a:hover:active {background-color: #9932cc;}

#nav li .dropdown:hover .dropdown-content {display: block;}

#nav li a.dropdown:hover  {background-color: #5c1f7a;}


/*Стили главной страницы*/

#h1{
	margin: auto;
    font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 36px;
    line-height: 40px;
    padding: 15px 0px;
	text-align: center;
    color: #5c1f7a;
}

#img-main{
	width: 100 px;
	text-align: center; 
}

#text-main{
	margin: auto;
    font-weight: none;
    font-family: "Old Standard TT", sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 0px;
	text-align: center;
    color: #111111;
	
}


/*Подвал*/

#footer{
	position: absolute;
	margin: auto;
	height: 200px;
	width: 1024px;
    font-weight: none;
    font-family: "Old Standard TT", sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 0px;
	text-align: center;
    color: #fcfcee;
	background-color:#9932cc;
}

#footer a{
    color: #fcfcee;
}


/*Стили информационных страниц*/

.info{
	display: flex;
    margin-top: 30px;
	margin-bottom: 0px;
    line-height: 25px;
	padding-top: 20px;
    color: #111111;
}


.img-info{
	object-fit:cover;
	float:left; 
    margin: 20px 40px;
}

.header-info{
	align-self: flex-start;
	margin: auto 0px;
    font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 30px;
    line-height: 40px;
	width: 70px;
    padding: 15px 0px;
    color: #5c1f7a;
}

.text-info{
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding: 15px 0px;
    color: #111111;
}

.ol-info{
	float: right;
	text-align: right;
	list-style-type: disc;
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 25px;
    line-height: 25px;
    padding: 15px 0px;
    color: #5c1f7a;
	border: 5px solid #9932cc;
}

.li-info{
	text-align: right;
	list-style-position: inside;
	list-style-type: decimal;
	margin-top:0px;
	margin-right:8px;
	margin-bottom:4px;
	margin-left:8px;
	display:list-item;
	font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 16px;
    padding: 5px 0px;
    color: #111111;
}

.line-info{
	position: absolute;
	margin: auto;
	height: 30px;
	width: 985px;
    font-weight: 600;
    font-family: "Old Standard TT", sans-serif;
    font-size: 40px;
    line-height: 20px;
    padding: 15px 20px;
	text-align: left;
    color: #fcfcee;
	background-color:#5c1f7a;
}


/*Таблица (используется на странице Продукция)*/

.text-info table {
	float: none;
	background-image: url(back.png) !important;

	margin-bottom: 20px;
	border: 5px solid #9932cc;
	border-top: 5px solid #9932cc;
	border-collapse: collapse; 
}
.text-info th {
	color: #fcfcee;
	font-weight: bold;
	padding: 5px;
	background: #9932cc;
	border: none;
	border-bottom: 5px solid #9932cc;
	font-size: 20px;
	font-family:"Old Standard TT", sans-serif;
}
.text-info td {
	color: #9932cc;
	font-family:"Old Standard TT", sans-serif;
	margin: auto;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #9932cc;
}


/*Вход на сайт*/

.entrance table {
	width: 200px;
	height: 100px;
	float: right;
	color: #fcfcee;
	background-color:#9932cc;
    border: 10px solid #9932cc;
	margin-bottom: 20px; 
	margin-right: 20px;
}

.entrance td {
	background-color:#9932cc;
	color: #fcfcee;
	font-family:"Old Standard TT", sans-serif;
	margin: auto;
	padding: 5px;
	border: none;
	border-bottom: 10px solid #9932cc;
}


/*Форма регистрации*/

#registration{
   width:900px;
   height:3000 px;
   margin-top:0px;
   margin-right:auto;
   margin-left:auto;
   margin-bottom:auto;
   padding-bottom: 230px;
   position: center;
   background-color:#9932cc;
   color: #ffffff;
   font-family:"Old Standard TT", sans-serif;
   line-height: 40px;
   padding: 15px 0px;
   text-align: center;
   margin-top:50px;
   margin-bottom:50px;
   
}

.form-registration{
	line-height: 20px;
	position: center;
	background-color:#9932cc;
	color: #fcfcee;
	font-family:"Old Standard TT", sans-serif;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 15px 0px;
}

#registration p{
	padding: 15px 0px;
	line-height: 20px;
	position: center;
	background-color:#9932cc;
	color: #fcfcee;
	font-family:"Old Standard TT", sans-serif;
}


/*Секции контента (страница Туры)*/

#sections{
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.8em;
	font-style:normal;
	color:#9932cc;
	background-position:35px;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 16px;
	font-size: 25px;
	margin-left: 250px;
}

#sections ul {
    list-style-type: none;
    padding: 0px 40px;
    overflow: hidden;
	margin-left: auto;
    margin-right: auto;
}

#sections li {
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
    float: left;
	padding: 0px 15px;
}

#sections li:last-child {
    border-right: none;
}


/*Анимация наведения на ссылки внутри страницы*/

.sections-a {
	vertical-align: middle;
	color: #9932cc; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.sections-a:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: #9932cc; 
    transition: width 0.5s;  
}

.sections-a:hover:after{
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #9932cc; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}


/*Разделение - временные периоды туров*/

 .header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
	background-position:35px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 600;
	
    display: inline-block;
    position: relative;
    background: #9932cc;
    color: #ffffff;
    margin-bottom: 0;
    padding: .5rem 3rem;
    font-size: 30px;
    text-transform: uppercase;
  }
  .header-h1 h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1.5rem solid #ffffff;
    border-top: 3rem solid transparent; 
    border-bottom: 3rem solid transparent;      
  }
  .header-h1 h1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1.5rem solid #ffffff;
    border-top: 3rem solid transparent; 
    border-bottom: 3rem solid transparent;      
  }


